# Нодовские модули создаются автоматически
# в репе они нам не нужны
node_modules/

# Bower директория с модулями создаётся автоматически
# в репе она нам не нужна
bower_components/

#
$ TODO:
# Раскомментировать после переноса файлов в
# директорию sources и после настройки сборки
# приложения в Gruntfile.
#
# public/
#

# Системные файлы
.DS_Store
