# Нодовские модули создаются автоматически в репе они нам не нужны.
node_modules/

# Bower директория с модулями создаётся автоматически в репе она нам не нужна.
bower_components/

#
# Статичные файлы
#
public/

#
# Директория с документацией, создается автоматически. Содержать в репозитории
# нет никакого смысла.
#
doc/

# Системные файлы.
.DS_Store

#
# Файлы настройки проекта используемой IDE
#
# wheely.sublime-project
#
wheely.sublime-workspace

# Логи npm - зачем нам они в репе.
npm-debug.log
