@import "reset.css";

body, html {
    padding: 0;
    margin: 0;
    font-family: Arial;
}

h1 { font-size: 1.4em; }

.app-wrapper {
    background: #FFF;
    width: 100%;
    height: 100%;
    min-height: 100%;
}

.app-wrapper form .field {
    text-align: center;
}
.app-wrapper form .field input {
    border: 1px solid #CCC;
    padding: 10px; 
    width: 90%;
}

.app-wrapper header, .app-wrapper footer {
    width: 100%;
    height: 50px;
    position: absolute;
    z-index: 1;
    background-color:rgba(255, 255, 255, .8)
}

.app-wrapper header {
    top: 0;
    padding: 0 10px;
}
.app-wrapper header h1 {
    line-height: 50px;
}

.app-wrapper section {
    width: 100%;
    /* min-height: 100%; */
    padding-top: 50px;
    padding-bottom: 50px;
    height: auto;
    bottom: 0;
    top: 0;
    position: absolute;
}

.app-wrapper section .message { text-align: center; font-size: 1.2em; padding-top: 10px;  }

.app-wrapper section .message.message-error {
    color: #900;
}

.app-wrapper section.login {
    padding-top: 100px;
}
.app-wrapper section.maps {
    padding-top: 0;
}
.app-wrapper section .map-canvas {
    width: 100%;
    height: 100%;
}

.app-wrapper footer {
    bottom: 0;
    text-align: center;
}

.app-wrapper footer button, .app-wrapper footer input[type=submit] {
    color: #FFF;
    /*border-radius: 3px;*/
    padding: 10px;
    width: 100%;
    height: 100%;
}

button.red, input.red { background: #900; border: 1px solid #A00; }
button.green, input.green { background: #090; border: 1px solid #0A0; }

